body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar Styles */
.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-logo img {
  /* border-radius: 50%; */
  width: 80px;
}
.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  /* color: #fff; */
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-menu li a:hover {
  background-color: #575757;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #000754;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}

.accordition_ h1 {
  margin: auto;
  text-align: center;
}
.accordion {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  background-color: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  justify-content: space-between;
  display: flex;
}

.accordion-header:hover {
  background-color: #eaeaea;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 15px;
  box-sizing: border-box;
}

.accordion-content p {
  margin: 15px 0;
}

.accordion-item.active .accordion-content {
  max-height: 500px; /* Adjust based on your content size */
  padding: 15px;
}

.accordion-item.active .accordion-header {
  background-color: #e0e0e0;
}
.fa-plus {
  transition: 0.3s;
}
.accordion-item.active .fa-plus {
  transform: rotate(45deg);
  transition: 0.3s;
}

@media (max-width: 768px) {

.accordition_ h1 {
font-size: 18px;
}
  .accordion-header {
    font-size: 16px;
  }

  .accordion-content p {
    margin: 10px 0;
  }

}
